h2 {
    font-family: Ubuntu, monospace;
    font-size: 50px;
    color: black;
    margin-top: 450px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;

}
h3 {
    font-family: Ubuntu, monospace;
    font-size: 50px;
    color: black;
    text-align: center;
    padding-top: 100px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(35deg, #FFFFFF, #989898);
  background-size: 400% 400%;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  font-family: Ubuntu, monospace;
}


/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: white;
  color: black;
}

/* Style the content */
.content {
  margin-left: 400px;
  margin-right: 200px;
  padding-left: 20px;
  outline: 3px solid black;
}
html {
  scroll-behavior: smooth;
 }
 
 a {
  text-decoration: none;
  color: black;

 } 
 
 #AboutMe {
  margin-top: 700px;
  padding-bottom:800px ;
  margin-left: 400px;
  margin-right: 200px;
 }
 #Projects {
  margin-top: 700px;
  padding-bottom:800px ;
  margin-left: 400px;
  margin-right: 200px;
 }
 #ContactMe {
  margin-top: 700px;
  padding-bottom:800px ;
  margin-left: 400px;
  margin-right: 200px;
 }

